source [find interface/raspberrypi-native.cfg]
transport select swd
bcm2835gpio_swd_nums 25 24
bcm2835gpio_trst_num 7
bcm2835gpio_srst_num 18
#set WORKAREASIZE 0
source [find target/nrf51.cfg]
adapter_khz 500